h1{
	text-align:center;
}
#col-1 {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
  left:300px;

}

#col-2 {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
  left: 450px;

}

